<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <h1>This is a Heading</h1>
        <p>I am a paragraph</p>
    </div>

    <div>
        <h1>Parsed HTML of this page</h1>
        <div>
            {{ domContent | safe }}
        </div>
    </div>

    <footer>
        I am the footer
        Im still writing
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>